validadores/asignaturas.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:complexType name="Asignaturas">
        <xs:sequence>
            <xs:element name="asignatura" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="NombreApellido" />
                        <xs:element name="tipo" type="TipoAsignatura" />
                        <xs:element name="descripcion" type="xs:string" />
                        <xs:element name="horasSemanales" type="xs:positiveInteger" />
                        <xs:element name="curso" type="Curso" />
                    </xs:sequence>
                    <xs:attribute name="codigo" type="CodigoAsignatura" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

