validadores/asignaturas.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:complexType name="Asignaturas">
        <xs:sequence>
            <xs:element name="asignatura" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="NombreApellido" />
                        <xs:element name="nivel" type="NivelEducativo" />
                        <xs:element name="departamento" type="NombreApellido" />
                        <xs:element name="profesor" type="Iniciales" />
                    </xs:sequence>
                    <xs:attribute name="cod_asignatura" type="CodigoAsignatura"
                        use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

