validadores/profesores.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:complexType name="Profesores">
        <xs:sequence>
            <xs:element name="profesor" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="NombreApellido" />
                        <xs:element name="experiencia" type="xs:positiveInteger" />
                        <xs:element name="email" type="Email" />
                        <xs:element name="genero" type="Genero" />
                        <xs:element name="departamento" type="xs:string" />
                        <xs:element name="asignatura" type="RefAsignatura" />
                        <xs:element name="activo" type="siONo" />
                    </xs:sequence>
                    <xs:attribute name="id" type="idProfesor" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

