validadores/tipos.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="idAlumno">
        <xs:restriction base="xs:string">
            <xs:pattern value="A[0-9]{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="idProfesor">
        <xs:restriction base="xs:string">
            <xs:pattern value="P[0-9]{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Email">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_.-]+@[a-zA-Z0-9]+\.[a-z]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NombreApellido">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+( ([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+))*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Genero">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M" />
            <xs:enumeration value="F" />
            <xs:enumeration value="Otro" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="siONo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sí" />
            <xs:enumeration value="No" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NivelAcademico">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ESO" />
            <xs:enumeration value="Bachillerato" />
            <xs:enumeration value="FP" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Departamento">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ciencia y Tecnología" />
            <xs:enumeration value="Ciencias Sociales" />
            <xs:enumeration value="Humanidades" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TipoAsignatura">
        <xs:restriction base="xs:string">
            <xs:enumeration value="obligatoria" />
            <xs:enumeration value="optativa" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Curso">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1º" />
            <xs:enumeration value="2º" />
            <xs:enumeration value="3º" />
            <xs:enumeration value="4º" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodigoAsignatura">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}[0-9]{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="RefAsignatura">
        <xs:attribute name="codigo" type="CodigoAsignatura" />
    </xs:complexType>

</xs:schema>
